;Prevent round end crashing?
add:
{
	"classname" "logic_eventlistener"
	"targetname" "RoundEnd"
	"IsEnabled" "1"
	"EventName" "round_end"
	"OnEventFired" "point_template,Kill,,0,-1"
	"OnEventFired" "func_tracktrain,Kill,,0,-1"
	"OnEventFired" "func_train,Kill,,0,-1"
	"OnEventFired" "path_*,Kill,,0.1,-1"
	"OnEventFired" "trigger_*,Kill,,0,-1"
}