;Below fixes game_player_equip dropping extra knives. Copy and paste this if necessary.
;Notify mapper that he _must_ have "Strip all weapons" checked in flags.

modify:
{
	match:
	{
		"classname" "game_player_equip"
		"weapon_knife" "1"
		"item_assaultsuit" "1"
	}
	insert:
	{
		"spawnflags" "2"
	}
}

;Nuke is immediate. No delay.
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "trigger_hurt_fin"
	}
	replace:
	{
		"damage" "99999999"
	}
}

;Post panorama players can spawn on the very first round wherever the point_camera/first spawn point is.
;Meaning they can get ahead (or stuck) where they shouldn't be.
filter:
{
	"classname" "point_viewcontrol"
}