;No player gets ahead.
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "telehurt"
	}
	insert:
	{
		"OnStartTouch" "!activatorRunScriptCodeforeach(v,_ in {SetHealth=0}) { EntFireByHandle(self, v, (self.GetHealth() - 200).tostring(), 0.0, null, null); }0-1"
	}
}

;Server settings priority.
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "stage_1_relay"
	}
	delete:
	{
		"OnTrigger" "cmdCommandmp_freezetime 30-1"
	}
}