;Players purposely boosting zombies to secret that is not meant for normal play. Locks button.
modify:
{
	match:
	{
		"classname" "func_button"
		"origin" "-63.5 44.99 658.5"
	}
	insert:
	{
		"targetname" "MushroomSecret"
	}
	replace:
	{
		"spawnflags" "3073"
	}
}

;Doors close properly and do not stick players.
modify:
{
	match:
	{
		"classname" "func_door"
		"ignoredebris" "1"
		"forceclosed" "1"
	}
	replace:
	{
		"ignoredebris" "0"
	}
}

;Boat evac. is a bit easier.
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "Boat"
	}
	delete:
	{
		"OnTrigger" "Sewer_tapsFireUser119-1"
		"OnTrigger" "SewerPush*Kill26-1"
	}
	insert:
	{
		"OnTrigger" "Sewer_taps,FireUser1,,18,-1"
		"OnTrigger" "SewerPush*,Kill,,40,-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_push"
		"targetname" "SewerPush"
	}
	replace:
	{
		"speed" "1024"
	}
}

;player_speedmod replacements.
add:
{
	"classname" "logic_relay"
	"targetname" "Slowdown_Patch"
	"spawnflags" "2"
	"OnTrigger" "!activatorRunScriptCodeforeach(v,_ in {SetHealth=0}) { EntFireByHandle(self, v, (self.GetHealth() - 1).tostring(), 0.0, null, null); }0-1"
	"OnTrigger" "!activatorRunScriptCodeforeach(v,_ in {SetHealth=0}) { EntFireByHandle(self, v, (self.GetHealth() + 1).tostring(), 0.0, null, null); }0.1-1"
}

modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"origin" "3159 34 569"
	}
	delete:
	{
		"OnHurtPlayer" "speedModifySpeed16-1"
		"OnHurtPlayer" "speedModifySpeed0.955.9-1"
		"OnHurtPlayer" "speedModifySpeed0.905.8-1"
		"OnHurtPlayer" "speedModifySpeed0.855.7-1"
		"OnHurtPlayer" "speedModifySpeed0.805.6-1"
		"OnHurtPlayer" "speedModifySpeed0.755.5-1"
		"OnHurtPlayer" "speedModifySpeed0.705.4-1"
		"OnHurtPlayer" "speedModifySpeed0.655.3-1"
		"OnHurtPlayer" "speedModifySpeed0.655.2-1"
		"OnHurtPlayer" "speedModifySpeed0.655.1-1"
		"OnHurtPlayer" "speedModifySpeed0.655-1"
		"OnHurtPlayer" "speedModifySpeed0.654.9-1"
		"OnHurtPlayer" "speedModifySpeed0.654.8-1"
		"OnHurtPlayer" "speedModifySpeed0.654.7-1"
		"OnHurtPlayer" "speedModifySpeed0.654.6-1"
		"OnHurtPlayer" "speedModifySpeed0.654.5-1"
		"OnHurtPlayer" "speedModifySpeed0.654.4-1"
		"OnHurtPlayer" "speedModifySpeed0.654.3-1"
		"OnHurtPlayer" "speedModifySpeed0.654.2-1"
		"OnHurtPlayer" "speedModifySpeed0.654.1-1"
		"OnHurtPlayer" "speedModifySpeed0.654-1"
		"OnHurtPlayer" "speedModifySpeed0.653.9-1"
		"OnHurtPlayer" "speedModifySpeed0.653.8-1"
		"OnHurtPlayer" "speedModifySpeed0.653.7-1"
		"OnHurtPlayer" "speedModifySpeed0.653.6-1"
		"OnHurtPlayer" "speedModifySpeed0.653.5-1"
		"OnHurtPlayer" "speedModifySpeed0.653.4-1"
		"OnHurtPlayer" "speedModifySpeed0.653.3-1"
		"OnHurtPlayer" "speedModifySpeed0.653.2-1"
		"OnHurtPlayer" "speedModifySpeed0.653.1-1"
		"OnHurtPlayer" "speedModifySpeed0.653-1"
		"OnHurtPlayer" "speedModifySpeed0.652.9-1"
		"OnHurtPlayer" "speedModifySpeed0.652.8-1"
		"OnHurtPlayer" "speedModifySpeed0.652.7-1"
		"OnHurtPlayer" "speedModifySpeed0.652.6-1"
		"OnHurtPlayer" "speedModifySpeed0.652.5-1"
		"OnHurtPlayer" "speedModifySpeed0.652.4-1"
		"OnHurtPlayer" "speedModifySpeed0.652.3-1"
		"OnHurtPlayer" "speedModifySpeed0.652.2-1"
		"OnHurtPlayer" "speedModifySpeed0.652.1-1"
		"OnHurtPlayer" "speedModifySpeed0.652-1"
		"OnHurtPlayer" "speedModifySpeed0.651.9-1"
		"OnHurtPlayer" "speedModifySpeed0.651.8-1"
		"OnHurtPlayer" "speedModifySpeed0.651.7-1"
		"OnHurtPlayer" "speedModifySpeed0.651.6-1"
		"OnHurtPlayer" "speedModifySpeed0.651.5-1"
		"OnHurtPlayer" "speedModifySpeed0.651.4-1"
		"OnHurtPlayer" "speedModifySpeed0.651.3-1"
		"OnHurtPlayer" "speedModifySpeed0.651.2-1"
		"OnHurtPlayer" "speedModifySpeed0.651.1-1"
		"OnHurtPlayer" "speedModifySpeed0.651-1"
		"OnHurtPlayer" "speedModifySpeed0.650.9-1"
		"OnHurtPlayer" "speedModifySpeed0.650.8-1"
		"OnHurtPlayer" "speedModifySpeed0.650.7-1"
		"OnHurtPlayer" "speedModifySpeed0.650.6-1"
		"OnHurtPlayer" "speedModifySpeed0.650.5-1"
		"OnHurtPlayer" "speedModifySpeed0.650.4-1"
		"OnHurtPlayer" "speedModifySpeed0.650.3-1"
		"OnHurtPlayer" "speedModifySpeed0.650.2-1"
		"OnHurtPlayer" "speedModifySpeed0.650.1-1"
		"OnHurtPlayer" "speedModifySpeed0.650-1"
	}
	insert:
	{
		"OnHurtPlayer" "Slowdown_Patch,Trigger,,0,-1"
		"OnHurtPlayer" "Slowdown_Patch,Trigger,,2,-1"
		"OnHurtPlayer" "Slowdown_Patch,Trigger,,4,-1"
		"OnHurtPlayer" "Slowdown_Patch,Trigger,,6,-1"
	}
}

;Chickens, why not?
add:
{
	"classname" "info_map_parameters"
	"disableautogenerateddmspawns" "0"
	"usenormalspawnsfordm" "0"
	"petpopulation" "16"
	"bombradius" "500"
	"botmaxvisiondistance" "-1"
	"buying" "0"
}

;Train doors can not be abused.
modify:
{
	match:
	{
		"classname" "func_door"
		"targetname" "train_door_2"
	}
	replace:
	{
		"forceclosed" "1"
		"wait" "-1"
	}
}

;Appears to be a mistake. Not sure why or how this happened.
modify:
{
	match:
	{
		"classname" "func_button"
		"origin" "1188 -840.5 63"
	}
	delete:
	{
		"targetname" "truck_junk"
	}
}

;ADVANCED CHICKEN AI!
add:
{
	"classname" "logic_timer"
	"targetname" "ChickenFaceTimer"
	"spawnflags" "0"
	"StartDisabled" "0"
	"RefireTime" "1"
	"UseRandomTime" "1"
	"LowerRandomBound" "2"
	"UpperRandomBound" "16"
	"OnTimer" "chickenRunScriptCodeself.SetAngles(0 RandomInt(0, 359) 0);0-1"
}

;Post panorama players can spawn on the very first round wherever the point_camera/first spawn point is.
;Meaning they can get ahead (or stuck) where they shouldn't be.
filter:
{
	"classname" "point_viewcontrol"
}

;Reduced train escape time. Takes a looooong while.
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "trainstart"
	}
	delete:
	{
		"OnTrigger" "train_security_door_3Unlock1201"
		"OnTrigger" "train_security_door_2Open1201"
		"OnTrigger" "train_door_2Open1101"
		"OnTrigger" "first_doorBreak1201"
		"OnTrigger" "trainOpen1201"
		"OnTrigger" "train_sound_leavePlaySound1201"
		"OnTrigger" "tdoor1Open125-1"
		"OnTrigger" "tdoor2Open125-1"
		"OnTrigger" "train_sound_leavePlaySound1241"
		"OnTrigger" "TrainSoundVolume101201"
	}
	insert:
	{
		"OnTrigger" "train_security_door_3,Unlock,,90,1"
		"OnTrigger" "train_security_door_2,Open,,90,1"
		"OnTrigger" "train_door_2,Open,,80,1"
		"OnTrigger" "first_door,Break,,90,1"
		"OnTrigger" "train,Open,,90,1"
		"OnTrigger" "train_sound_leave,PlaySound,,90,1"
		"OnTrigger" "tdoor1,Open,,95,-1"
		"OnTrigger" "tdoor2,Open,,95,-1"
		"OnTrigger" "train_sound_leave,PlaySound,,89,1"
		"OnTrigger" "TrainSound,Volume,10,90,1"
	}
}

;Random crash fix(?) - Removes "SF_TRACKTRAIN_UNBLOCKABLE_BY_PLAYER" flags
modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"spawnflags" "643"
	}
	replace:
	{
		"spawnflags" "131"
	}
}

modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"spawnflags" "899"
	}
	replace:
	{
		"spawnflags" "387"
	}
}

;More time for zombies having a chance on blackhawk helicopter path.
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"origin" "352 1418 544"
	}
	delete:
	{
		"OnStartTouch" "!selfFireUser121"
		"OnStartTouch" "!selfKill41"
	}
	insert:
	{
		"OnStartTouch" "!selfFireUser191"
		"OnStartTouch" "!selfKill111"
	}
}

;Prevent players from being sneaky in spectate.
modify:
{
	match:
	{
		"classname" "logic_timer"
		"hammerid" "16998"
	}
	replace:
	{
		"RefireTime" "3"
	}
}