;Toggle the vent hurt earlier to prevent camping and kills. Also opens main door sooner. Fix door at the end from sticking players.
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Trigger_LasersOff"
	}
	insert:
	{
		"OnStartTouch" "VentDelay,Enable,,22,1"
		"OnStartTouch" "AFKDest,AddOutput,origin 960 -4256 -148,35,1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "LetOthersProceedWithoutVent"
	}
	insert:
	{
		"OnTrigger" "Door_LasersExit,Open,,50,-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_branch"
		"targetname" "Ending"
	}
	insert:
	{
		"OnFalse" "Door_LasersExit,Open,,15,-1"
		"OnTrue" "Door_LasersExit,Open,,15,-1"
	}
}

modify:
{
	match:
	{
		"classname" "func_door"
		"targetname" "Door_Final1"
		"ignoredebris" "1"
	}
	replace:
	{
		"ignoredebris" "0"
	}
}

modify:
{
	match:
	{
		"classname" "func_door"
		"targetname" "Door_Final2"
		"ignoredebris" "1"
	}
	replace:
	{
		"ignoredebris" "0"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "Button_FieldStart"
	}
	insert:
	{
		"OnPressed" "AFKTele,Enable,,15,-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Trigger_TalkSecret"
	}
	insert:
	{
		"OnStartTouch" "Door_TalkSecret,Open,,25,1"
	}
}

modify:
{
	match:
	{
		"classname" "func_button"
		"targetname" "Button_FreezerDoor"
	}
	replace:
	{
		"spawnflags" "1281"
	}
}

;Chickens, why not?
add:
{
	"classname" "info_map_parameters"
	"disableautogenerateddmspawns" "0"
	"usenormalspawnsfordm" "0"
	"petpopulation" "32"
	"bombradius" "500"
	"botmaxvisiondistance" "-1"
	"buying" "0"
}

;Increase nuke damage for mother zombies.
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "Nuke"
	}
	replace:
	{
		"damage" "99999999"
	}
}

;Adds a weapon cleaner. Hopefully reducing the lag overall in the map.
add:
{
	"classname" "game_weapon_manager"
	"targetname" "weaponmanager"
	"ammomod" "0"
	"weaponname" "weapon_glock"
	"OnUser1" "!self,AddOutput,weaponname weapon_*,0,-1"
	"OnUser1" "!self,AddOutput,weaponname weapon_glock,2,-1"
	"OnUser1" "!self,FireUser1,,12,-1"
}

add:
{
	"classname" "logic_relay"
	"spawnflags" "1"
	"OnSpawn" "weaponmanager,FireUser1,,2,-1"
}

;ADVANCED CHICKEN AI!
add:
{
	"classname" "logic_timer"
	"targetname" "ChickenFaceTimer"
	"spawnflags" "0"
	"StartDisabled" "0"
	"RefireTime" "1"
	"UseRandomTime" "1"
	"LowerRandomBound" "2"
	"UpperRandomBound" "16"
	"OnTimer" "chickenRunScriptCodeself.SetAngles(0 RandomInt(0, 359) 0);0-1"
}

;Sticky spawn fix(?)
modify:
{
	match:
	{
		"classname" "info_player_terrorist"
		"origin" "224 192 145"
	}
	replace:
	{
		"origin" "184 32 145"
	}
}

;Troll door adjustments.
modify:
{
	match:
	{
		"classname" "func_door"
		"targetname" "Door_FieldSecret"
	}
	insert:
	{
		"OnFullyClosed" "!self,Open,,25,1"
	}
}

modify:
{
	match:
	{
		"classname" "func_door"
		"targetname" "/Door_StartBlock.*/"
	}
	replace:
	{
		"dmg" "1"
	}
}

modify:
{
	match:
	{
		"classname" "func_door"
		"targetname" "/Door_StartExit.*/"
	}
	replace:
	{
		"dmg" "1"
	}
}