;Sounds are awfully loud. Nobody cares about the other sound effects in the map. Too much to configure.
;		"message" "/music*/"
modify:
{
	match:
	{
		"classname" "ambient_generic"
	}
	replace:
	{
		"health" "5"
	}
}

;Retard has door opening late for dramatic effect probably. Doesn't work with spawn in the crowd.
modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "lv5_ul_trigger"
	}
	delete:
	{
		"OnStartTouch" "entrance_doorOpen21-1"
		"OnStartTouch" "holm_breakBreak21-1"
		"OnStartTouch" "nightmare_soundPlaySound211"
		"OnStartTouch" "ult_1Start21-1"
		"OnStartTouch" "odin_ul_moveOpen231"
	}
	insert:
	{
		"OnStartTouch" "entrance_door,Open,,15,1"
		"OnStartTouch" "holm_break,Break,,15,1"
		"OnStartTouch" "nightmare_sound,PlaySound,,15,1"
		"OnStartTouch" "ult_1,Start,,15,1"
		"OnStartTouch" "odin_ul_move,Open,,17,1"
	}
}

;If the trigger really is killing zombies... why not lower the damage on the trigger then?
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"targetname" "odin_ul_hurt"
	}
	replace:
	{
		"damage" "500"
	}
}

;Teleport free fix? No idea. Someone said zombies can abuse this or something.
modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "baha_under_1"
	}
	replace:
	{
		"origin" "-5127.5 -6399 -5137"
	}
}