;Prevent player from delaying in an area.
add:
{
	"classname" "trigger_multiple"
	"targetname" "PreventDelay"
	"spawnflags" "1"
	"model" "*63"
	"origin" "3706 -356 -44"
	"OnStartTouch" "!activator,AddOutput,origin 3584 768 272,0,-1"
}

;Anyone above 100hp will die from this fall.
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"origin" "3328 2048 -328"
	}
	replace:
	{
		"damage" "2500"
	}
}

;Adds a weapon cleaner. Hopefully reducing the lag overall in the map.
add:
{
	"classname" "game_weapon_manager"
	"targetname" "weaponmanager"
	"ammomod" "0"
	"weaponname" "weapon_glock"
	"OnUser1" "!self,AddOutput,weaponname weapon_*,0,-1"
	"OnUser1" "!self,AddOutput,weaponname weapon_glock,2,-1"
	"OnUser1" "!self,FireUser1,,12,-1"
}

add:
{
	"classname" "logic_relay"
	"spawnflags" "1"
	"OnSpawn" "weaponmanager,FireUser1,,2,-1"
}

;Teleport angles.
modify:
{
	match:
	{
		"classname" "trigger_teleport"
	}
	replace:
	{
		"UseLandmarkAngles" "1"
	}
	insert:
	{
		"UseLandmarkAngles" "1"
	}
}

;If zombies get boosted, they will not go into a teleport that puts them ahead of CT's.
add:
{
	"classname" "info_teleport_destination"
	"targetname" "teleport3_2"
	"origin" "4837 2247 129"
	"angles" "0 105 0"
}

modify:
{
	match:
	{
		"classname" "trigger_teleport"
		"targetname" "teleport_hard"
	}
	replace:
	{
		"target" "teleport3_2"
	}
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "level_3_go_1"
	}
	insert:
	{
		"OnBreak" "teleport_hard,SetRemoteDestination,teleport3,5,1"
	}
}

;Can strafe around a hold.
modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "level_6_go"
	}
	insert:
	{
		"OnBreak" "ClipAvoid1,Kill,,0,1"
	}
}

add:
{
	"classname" "prop_dynamic"
	"targetname" "ClipAvoid1"
	"disableflashlight" "1"
	"disablereceiveshadows" "1"
	"disableshadowdepth" "1"
	"disableshadows" "1"
	"origin" "4320 1856 992"
	"angles" "0 0 0"
	"model" "models/props/de_dust/du_crate_64x64_stone.mdl"
	"spawnflags" "0"
	"solid" "6"
	"renderamt" "0"
	"rendercolor" "0 0 0"
	"rendermode" "10"
}

add:
{
	"classname" "prop_dynamic"
	"targetname" "ClipAvoid1"
	"disableflashlight" "1"
	"disablereceiveshadows" "1"
	"disableshadowdepth" "1"
	"disableshadows" "1"
	"origin" "4800 1472 992"
	"angles" "0 0 0"
	"model" "models/props/de_dust/du_crate_64x64_stone.mdl"
	"spawnflags" "0"
	"solid" "6"
	"renderamt" "0"
	"rendercolor" "0 0 0"
	"rendermode" "10"
}