;Train was sideways post-Wildfire's update. Fun, isn't it?
;Additionally this also fixes players sometimes sliding off because HL1 train wasn't checked off in flags.
modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"targetname" "Train_Vagon_0"
	}
	replace:
	{
		"spawnflags" "642"
		"wheels" "50"
	}
}

modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"targetname" "Train_Vagon_1"
	}
	replace:
	{
		"spawnflags" "658"
		"wheels" "50"
	}
}

modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"targetname" "Train_Vagon_2"
	}
	replace:
	{
		"spawnflags" "658"
		"wheels" "50"
	}
}

modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"targetname" "Train_Vagon_3"
	}
	replace:
	{
		"spawnflags" "658"
		"wheels" "50"
	}
}

modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"targetname" "Train_Vagon_4"
	}
	replace:
	{
		"spawnflags" "658"
		"wheels" "50"
	}
}

;Attempts to fix zombies getting boosted into CT's during one segment.
modify:
{
	match:
	{
		"classname" "trigger_push"
		"targetname" "Rat_Zombie_Push"
	}
	replace:
	{
		"speed" "300"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_push"
		"targetname" "Rat_Final_Push"
	}
	replace:
	{
		"speed" "800"
	}
}

;Teleport free.
modify:
{
	match:
	{
		"targetname" "ToRadioTeleport"
	}
	insert:
	{
		"OnStartTouch" "SpawnTeleport,AddOutput,origin -2688 -1700 -4996,1,1"
	}
}

;Clip at end. Players cannot delay.
add:
{
	"classname" "prop_dynamic"
	"targetname" "ClipAvoid"
	"origin" "608 5280 -5088"
	"model" "models/props/de_dust/du_crate_64x64_stone.mdl"
	"solid" "6"
	"rendermode" "10"
}