;Raptors don't damage every tick.
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"origin" "-932 4104 -591.5"
	}
	delete:
	{
		"parentname" "raptor1mover"
	}
	replace:
	{
		"targetname" "raptorhurter_a"
	}
}

modify:
{
	match:
	{
		"classname" "prop_dynamic"
		"parentname" "raptor1mover"
	}
	replace:
	{
		"targetname" "genraptor_a"
	}
}

add:
{
	"classname" "logic_measure_movement"
	"MeasureReference" "genraptor_a"
	"MeasureTarget" "genraptor_a"
	"MeasureType" "0"
	"Target" "raptorhurter_a"
	"TargetReference" "genraptor_a"
	"TargetScale" "1"
}

modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"origin" "186.69 3633.12 -547.19"
	}
	delete:
	{
		"parentname" "raptor2mover"
	}
	replace:
	{
		"targetname" "raptorhurter_b"
	}
}

modify:
{
	match:
	{
		"classname" "prop_dynamic"
		"parentname" "raptor2mover"
	}
	replace:
	{
		"targetname" "genraptor_b"
	}
}

add:
{
	"classname" "logic_measure_movement"
	"MeasureReference" "genraptor_b"
	"MeasureTarget" "genraptor_b"
	"MeasureType" "0"
	"Target" "raptorhurter_b"
	"TargetReference" "genraptor_b"
	"TargetScale" "1"
}

;If player takes secret path, doesn't trigger early leading to team killing for players who have no idea where to go.
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "12.5 6334.5 -744.5"
	}
	insert:
	{
		"targetname" "FirstHoldTrigger"
		"OnStartTouch" "!self,Kill,,0,1"
	}
	replace:
	{
		"classname" "trigger_multiple"
		"StartDisabled" "1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "248.5 6318.54 -670.5"
	}
	insert:
	{
		"targetname" "FirstHoldTrigger"
		"OnStartTouch" "!self,Kill,,0,1"
	}
	replace:
	{
		"classname" "trigger_multiple"
		"StartDisabled" "1"
	}
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"targetname" "wirerbreakable"
	}
	insert:
	{
		"OnBreak" "FirstHoldTrigger,Enable,,0,1"
	}
}

modify:
{
	match:
	{
		"classname" "func_breakable"
		"origin" "-1670.5 6442 -845"
	}
	insert:
	{
		"OnBreak" "FirstHoldTrigger,Enable,,0,1"
	}
}