;Crash fix(?) - Removes "SF_TRACKTRAIN_UNBLOCKABLE_BY_PLAYER" flags
modify:
{
	match:
	{
		"classname" "func_tracktrain"
		"targetname" "/stage_1_horses.*/"
	}
	replace:
	{
		"spawnflags" "16"
	}
}

;Sound fixes.
modify:
{
	match:
	{
		"message" "items/ammopickup.wav"
	}
	replace:
	{
		"message" "items/pickup_ammo_01.wav"
	}
}

;Clip. Players stand even less of a chance if they attempt to get up here. You can only delay.
add:
{
	"classname" "prop_dynamic"
	"targetname" "boostclip"
	"disableflashlight" "1"
	"disablereceiveshadows" "1"
	"disableshadowdepth" "1"
	"disableshadows" "1"
	"origin" "3072 -360 -8032"
	"angles" "0 270 -90"
	"model" "models/props/cs_militia/coveredbridge01_bottom.mdl"
	"spawnflags" "0"
	"solid" "6"
	"renderamt" "0"
	"rendercolor" "0 0 0"
	"rendermode" "10"
}

;Extended freezetime. Players have more time to buy.
modify:
{
	match:
	{
		"targetname" "LevelWarmupMsg"
	}
	delete:
	{
		"OnCase14" "consolaCommandmp_freezetime 401"
	}
	insert:
	{
		"OnCase14" "consola,Command,mp_freezetime 8,0,1"
	}
}

modify:
{
	match:
	{
		"targetname" "LevelOutput"
	}
	delete:
	{
		"OnCase02" "consolaCommandmp_freezetime 501"
		"OnCase03" "consolaCommandmp_freezetime 501"
		"OnCase04" "consolaCommandmp_freezetime 501"
		"OnCase05" "consolaCommandmp_freezetime 501"
		"OnCase01" "SpawnPushKill0-1"
		"OnCase02" "SpawnPushEnable12-1"
		"OnCase02" "SpawnPushKill18-1"
		"OnCase03" "SpawnPushKill18-1"
		"OnCase03" "SpawnPushEnable12-1"
		"OnCase04" "SpawnPushKill18-1"
		"OnCase04" "SpawnPushEnable12-1"
		"OnCase05" "SpawnPushKill18-1"
		"OnCase05" "SpawnPushEnable12-1"
	}
	insert:
	{
		"OnCase02" "consola,Command,mp_freezetime 8,0,1"
		"OnCase03" "consola,Command,mp_freezetime 8,0,1"
		"OnCase04" "consola,Command,mp_freezetime 8,0,1"
		"OnCase05" "consola,Command,mp_freezetime 8,0,1"
		"OnCase01" "SpawnPush,Kill,,0,-1"
		"OnCase02" "SpawnPush,Enable,,16,-1"
		"OnCase02" "SpawnPush,Kill,,22,-1"
		"OnCase03" "SpawnPush,Kill,,22,-1"
		"OnCase03" "SpawnPush,Enable,,16,-1"
		"OnCase04" "SpawnPush,Kill,,22,-1"
		"OnCase04" "SpawnPush,Enable,,16,-1"
		"OnCase05" "SpawnPush,Kill,,22,-1"
		"OnCase05" "SpawnPush,Enable,,16,-1"
	}
}

modify:
{
	match:
	{
		"targetname" "LevelExtreme_Setup"
	}
	delete:
	{
		"OnTrigger" "SpawnPushKill14.5-1"
		"OnTrigger" "SpawnPushEnable12-1"
	}
	insert:
	{
		"OnTrigger" "SpawnPush,Kill,,18.5,-1"
		"OnTrigger" "SpawnPush,Enable,,16,-1"
	}
}