;Ambient generics not fucking loud.
modify:
{
	match:
	{
		"classname" "ambient_generic"
	}
	replace:
	{
		"health" "4"
	}
}

;Stopmusic fix.
modify:
{
	match:
	{
		"classname" "ambient_generic"
		"message" "music/MinasMorgul.mp3"
	}
	replace:
	{
		"targetname" "sound3_2"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "morgul2"
	}
	insert:
	{
		"OnUser1" "sound3_2,PlaySound,,8,-1"
	}
}

;Post panorama players can spawn on the very first round wherever the point_camera/first spawn point is.
;Meaning they can get ahead (or stuck) where they shouldn't be.
filter:
{
	"classname" "point_viewcontrol"
}