;Map Config Stripper
modify:
{
	match:
	{
	"hammerid" "1900012"
	"classname" "info_target"
	"targetname" "stm_adminroom"
	}
	insert:
	{
	;Uncomment Next Line to Change the BossHP Multiplier at the start of the map. Possible values are from 7 to 15. Default 10
	;"OnUser1" "stm_adminroom,RunScriptCode,SetBossHPMultiplier(10);,0,1"
	;Uncomment Next Line to Change the Story Language. 0 - English, 1 - Russian, 2 - Chinese(Machine translate). Default 0
	;"OnUser1" "stm_adminroom,RunScriptCode,SetLang(1);,0,1"
	;Uncomment Next Line to Use the Knife Replacement Script. 0 - Disable, 1 - Enable. Default 0
	;"OnUser1" "stm_adminroom,RunScriptCode,SetChangeKnife(1);,0,1"
	}
}